body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.border {
    border: 1px solid grey;
    background-color:#f7f5f5 ;
}
.tittle, .recaptcha, .footer, .footer ul, .sign-in, .container  {
    display: flex;
}
.accounts a,.learn-more a, .already p a{
    color: blue;
}
.container {
    flex-direction: column;
    align-items: center;
   
}
.tittle {
    flex-direction: column;
    align-items: center;
    line-height: 0.3rem;
    font-size: 13px;
}
.learn-more a {
    text-decoration: none;
}
.form-group {
    display: grid;
    justify-content: center;
    line-height: 3rem;
}
.form-group input {
    border-radius: 2px;
    width: 300px;
    border: 0.5px solid grey;
    line-height: 2rem;
}
.message{
    font-size: 12px;
    line-height: 0.7rem;
}
.accounts {
    width: 250px;
    line-height: 2rem;
    margin-left: 80px;
    font-style: italic;
}
.accounts a {
    text-decoration: none;
}
.clickme {
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 13px 85px;
    text-align: center;
    font-size: 16px;
    margin: 30px 56px;
    cursor: pointer;
}
.recaptcha {
    justify-content: space-around;
    font-size: 10px;
    background-color: rgb(223, 217, 217);
    line-height: 2rem;
}
.footer {
    flex-direction: column;
    align-items: center;
}

.footer ul {
    flex-direction: row;
    margin-right: 10px;
}

.footer ul li {
    list-style-type: none;
    cursor: pointer;
    color: black;
    margin-right: 10px; 
    line-height: 0.3rem;
}
.footer p {
    font-size: 13px;
    width: 900;
}
.sign-in{
    flex-direction: row;
    justify-content: flex-end;
}
.sign-in-container button{
    background-color: blue;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 9px 15px;
    margin-top: 2px;
}
.already{
    line-height: 0.3rem;
    font-size: 12px;
    margin-right: -40px;
}
.already p a{
    text-decoration: none;
}
