body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.border {
    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290;
}
.tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.3rem;
}
.learn-more a {
    text-decoration: none;
    color: blue;
}
.form-group {
    display: grid;
    justify-content: center;
    line-height: 3rem;
}
.form-group input {
    border-radius: 2px;
    width: 350px;
    border: 0.5px solid grey;
    line-height: 2rem;
}
.accounts {
    width: 290px;
    line-height: 2rem;
    margin-left: 100px;
    font-style: italic;
}
.accounts a {
    text-decoration: none;
}

.clickme {
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 13px 116px;
    text-align: center;
    font-size: 16px;
    margin: 30px 56px;
    cursor: pointer;
}
.recaptcha {
    display: flex;
    justify-content: space-around;
    font-size: 11px;
    background-color: grey;
    line-height: 2rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer ul {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.footer ul li {
    list-style-type: none;
    cursor: pointer;
    color: black;
    margin-left: 10px;
}

.footer p {
    font-size: 14px;
    width: 900;
}